<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Vault.Server" value="vault"/>
    <add key="Vault.User" value="User"/>
    <add key="Vault.Password" value="Password"/>
    <add key="Vault.Repo" value="GBNET Files"/>
    <add key="Git.DomainName" value="gasbuddy.com"/>
    <add key="Convertor.WorkingFolder" value="c:\Projects\GBNet Files\Tools\DataFeedConsumer"/>
    <add key="Convertor.GitCmd" value="C:\Program Files\Git\cmd\git.exe"/>
    <add key="Convertor.Paths" value="$/Tools/DataFeedConsumer~master"/>
    <add key="OldestCommitDate" value="2016-01-01"/>
  </appSettings>
</configuration>