<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Vault.Server" value="vaultserver.mycompany.com"/>
    <add key="Vault.User" value="vaultuser"/>
    <add key="Vault.Password" value="vaultpassword"/>
    <add key="Vault.Repo" value="nameofTheVaultRepo"/>
    <add key="Git.DomainName" value="mycompany.com"/>
    <add key="Convertor.WorkingFolder" value="c:\repo"/>
    <add key="Convertor.GitCmd" value="c:\cygwin\usr\local\bin\git.exe"/>
    <add key="Convertor.Paths" value="$/Trunk~master;$/Branches/Branch1~branch1"/>
    <add key="OldestCommitDate" value="2016-01-01"/>
  </appSettings>
</configuration>